{% extends 'base.html' %}

{% block content %}

{% include 'flash.html' %}

<h1>Edit your profile</h1><br>
{{ form.hidden_tag() }}
<form class="col-md-4 form-horizontal" action="" method="post" name="edit">
    <div class="form-group{% if form.errors.post %} error{% endif %}">
        <label for="nickname" class="col-sm-3 control-label">Nickname:</label>
        <div class="col-sm-9">
        {{ form.nickname(class = "form-control", id="nickname") }}
        {% for error in form.errors.nickname %}
            <span class="help-block">{{error}}</span><br>
        {% endfor %}
        </div>
    </div>
    <a class="btn btn-default" href="{{ url_for('user', nickname=g.user.nickname) }}" role="button">Back</a>
    <input class="btn btn-primary control" type="submit" value="Submit">
</form>
{% endblock %}