{% extends 'base.html' %}

{% block content %}
<h3>This is index</h3>
{% include 'flash.html' %}

{% if not g.user.is_authenticated %}
<div class="col-md-4 col-md-offset-4">
    <a class="btn btn-block btn-social btn-vk" href="{{ url_for('login') }}">
        <span class="fa fa-vk"></span>
        Войти с помощью ВКонтакте
    </a>
</div>
<link href="/static/css/bootstrap-social.css" rel="stylesheet">
<link href="/static/css/font-awesome.css" rel="stylesheet">
{% endif %}

{% if g.user.is_authenticated %}
<center><h1>Hi, {{ g.user.nickname }}! We've missed you!</h1></center>
{% endif %}

{% endblock %}