{% extends 'base.html' %}

{% block content %}
{% include 'flash.html' %}

{% if not g.user.is_authenticated %}
<div class="col-md-4 col-md-offset-4">
    <a class="btn btn-block btn-social btn-vk" href="{{ url_for('login') }}">
        <span class="fa fa-vk"></span>
        Войти с помощью ВКонтакте
    </a>
</div>
<link href="/static/css/bootstrap-social.css" rel="stylesheet">
<link href="/static/css/font-awesome.css" rel="stylesheet">
{% endif %}

{% if g.user.is_authenticated %}
<center><h1>Hi, {{ g.user.nickname }}! We missed you!</h1></center><br><br>
{% if g.user.collection.all() %}
<center><h2>Take a look at your latest additions:</h2></center>
<div class="col-md-10 col-md-offset-1">
    <div class="well">
        <div class="row">
            {% for album in g.user.latest() %}
                <div class="col-md-4">
                    <center><img src="{{ album.thumb }}" class="img-rounded"></center><br>
                    <div class="caption">
                        <center><a href="{{ url_for('album', id=album.id) }}">{{ album.title }}</a></center><br>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<center><h2> Your library is empty. Start gathering your collection <a href="{{ url_for('search') }}"> right now</a>!</h2></center>
{% endif %}
{% endif %}

{% endblock %}
